:root {
	--headerbackground: #1d1d1d;
	--headercolor: #d8d8d8;
	--bluecolor: #2289ff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: SF Pro Display, sans-serif;
}

.title {
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.app-footer {
	text-align: center;
	padding-top: 5rem;
}

.links a img {
	width: 20px;
	height: 20px;
}
.links a img:hover {
	box-shadow: 0px 0px 0px 2px var(--headercolor);
	transition: 0.8s;
	outline-width: 10px;
}

li {
	list-style: none;
}
